<div class="formPage">
  <mat-dialog-content>
    <a (click)="clear()" class="close"><i class="fa-sharp fa-regular fa-xmark"></i></a>
    <form [formGroup]="formData" (ngSubmit)="loginCheck()">
      <h2>Login</h2>
      <div class="inputData">
         <input type="text" id="email" formControlName="userEmail" autocomplete="off">
         <label for="email"><i class="fa-duotone fa-solid fa-envelope"></i> Email</label>
  
         <div id="err" *ngIf="formData.get('userEmail')?.errors?.['required'] && formData.get('userEmail')?.dirty">
          Email is required
        </div>
  
        <div id="err" *ngIf="formData.get('userEmail')?.errors?.['checkEmail']===false && formData.get('userEmail')?.dirty">
          Email is not valid
        </div>
        
      </div>
      <div class="inputData">
          <input type="text" id="password" formControlName="password" autocomplete="off">
          <label for="password"><i class="fa-duotone fa-solid fa-key"></i> Password</label>
      </div>
      <p id="forPass"><a href="">Forget Password?</a></p>
      <div class="container">
          
             <button type="submit"><i class="fa-duotone fa-solid fa-right-to-bracket"></i> Login</button>
          
      </div>
  
      <p id="regi">Don't Have Account? <a (click)="openSignUp()">Register</a></p>
  </form>
  </mat-dialog-content>
  </div>
  