<footer>
    <div class="row">
        <div class="col">
            <img src="../../assets/images/logo/brand-logo.png" alt="Brand Logo" class="logo">
            <p>
                Revaana Clothing brand
            </p>
        </div>
        <div class="col">
            <h5>Office</h5>
            <p>xyz road</p>
            <p>Uttarpradesh, India</p>
            <p class="email-id">abc&#64;gmail.com</p>
        </div>
        <div class="col">
            <h5>Links</h5>
            <ul>
                <li><a [routerLink]="">Home</a></li>
                <li><a [routerLink]="">About Us</a></li>
                <li><a href="">Blog</a></li>
                <li><a [routerLink]="">Contact</a></li>
                <!-- <li><a href="">Become a Supplier</a></li> -->
                
            </ul>
        </div>
        <div class="col">
            <h5>Newsletter</h5>
            <form>
                <i class="fa-light fa-envelope" id="env"></i>
                <input type="email" placeholder="Enter your email" required>
                <button type="submit">
                    <i class="fa-regular fa-arrow-right"></i>
                </button>
            </form>
            <div class="social-icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-x-twitter"></i>
            </div>
        </div>
        <hr>
        <p class="copyright">Rivaana <i class="fa-light fa-copyright"></i> 2025 - All Rights Reserved</p>
    </div>
</footer>