footer{
    margin-top: 50px;
    width: 100%;
    background: linear-gradient(to right, #000520, #200800);
    font-family: futur;
    display: flex;
    border-top-left-radius: 125px;
    line-height: 20px;
    padding: 80px 0 30px;
    color: #fff;
}

img{
    filter: invert(1);
}

.row{
    width: 85%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

/* .col:nth-child(2),.col:nth-child(3){
    flex-basis: 15%;
} */

.col h5{
    width: fit-content;
    position: relative;
    margin-bottom: 40px;
    font-size: 20px;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.logo{
    width: 180px;
    margin-bottom: 30px;
}
ul{
    margin-left:-30px;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    color: #fff;
}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

form #env{
    font-size: 18px;
    margin-right: 10px;
}

form input{
    background: transparent;
    width: 100%;
    border: 0;
    outline: none;
    color: #ccc;
}

form button{
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}

button>i{
    font-size: 16px;
    color: #fff
}

.social-icons>i{
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    line-height: 40px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

@media (ma-width:700px) {

    footer{
        bottom: unset;
    }

    .col{
        flex-basis: 100%;
    }
}