<div class="mainAbout">

    <div class="heading">
        <p class="about">Rivaana / About</p>
    </div>

    <div class="imgCont">
        <img src="https://i.pinimg.com/1200x/66/2d/c0/662dc017b598d728a1c67484f01bb458.jpg" alt="">
    </div>

    <div class="intro">
        <p id="title">Introduction</p>
        <p id="info">
            At Rivaana, we believe shopping should inspire more than just style—it should inspire change. 
            Our mission is to create a platform where every purchase contributes to empowering lives, supporting 
            sustainability, and making a positive impact. Through initiatives like our Return and Earn Policy, 
            we’re building a responsible and conscious shopping experience that benefits both people and the planet. 
            Shop with Rivaana and be part of a movement where every product carries a story of compassion, purpose, 
            and transformation.
        </p>
        <br>
        <p id="title">Value proposition</p>
        <p id="info">
             Rivaana’s value proposition centers on delivering a seamless and empowering online shopping experience for
             fashion and lifestyle enthusiasts. With an extensive collection of trending and timeless products, 100% 
             authentic quality, easy cash-on-delivery options, and a hassle-free 30-day return policy, Rivaana has 
             become a trusted destination for modern shoppers. To make your journey effortless, our dedicated 
             customer support team is available 24/7 to address your queries and ensure a delightful shopping 
             experience every time.
        </p>
    </div>
</div>