
<div class="main">

    <!-- <div class="fashion-type">
        <app-fashion-type></app-fashion-type>
    </div> -->

    <div class="fashion-for">
        <app-fashion-for></app-fashion-for>
    </div>
    <div class="newsFront">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <!-- Carousel Indicators -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
        
            <!-- Carousel Content -->
            <div class="carousel-inner">
                <!-- First Slide -->
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <!-- Background SVG Container -->
                            <div class="firstCol col-xl-6 col-md-6 col-12 text-center svg-background">
                                <img src="../../assets/images/blobs/blob.svg" alt="blob-svg" class="background-svg">
                                <img src="../../assets/images/main.png" alt="main-image" class="main-img">
                            </div>
                            <div class="secondCol col-xl-6 col-md-6 col-12 text-center">
                                <p class="tag1">Lowest Price With High Quality</p>
                                <button>Explore More</button>
                                <h4 style="margin-top: 50px; font-weight: 600; font-family: monospace;">
                                    Collections For Everyone
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Second Slide -->
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="firstCol col-xl-6 col-md-6 col-12 text-center svg-background">
                                <img src="../../assets/images/blobs/blob2.svg" alt="blob-svg" class="background-svg">
                                <img src="../../assets/images/main_img_2.png" alt="main-image" class="main-img">
                            </div>
                            <div class="secondCol col-xl-6 col-md-6 col-12 text-center">
                                <p class="tag1">Experience Luxury at Affordable Prices</p>
                                <button>Discover Now</button>
                                <h4 style="margin-top: 50px; font-weight: 600; font-family: monospace;">
                                    Stylish and Trendy Collections
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Third Slide -->
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="firstCol col-xl-6 col-md-6 col-12 text-center svg-background">
                                <img src="../../assets/images/blobs/blob3.svg" alt="blob-svg" class="background-svg">
                                <img src="../../assets/images/main_img_3.png" alt="main-image" class="main-img">
                            </div>
                            <div class="secondCol col-xl-6 col-md-6 col-12 text-center">
                                <p class="tag1">Upgrade Your Style with Us</p>
                                <button>Shop Now</button>
                                <h4 style="margin-top: 50px; font-weight: 600; font-family: monospace;">
                                    Exclusive Deals for You
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


<div class="details">

    <div class="shipping">
     <img src="../../assets/fast.png" alt="" id="imgDet">
     <div class="infoContainer">
        <p class="infoDetails">Free Shipping</p>
        <p style="font-family: futur;">On orders over ₹500</p>
     </div>
    </div>

    <div class="support">
    <img src="../../assets/customer-service.png" alt="" id="imgDet">
    <div class="infoContainer">
        <p class="infoDetails">Dedicated Support</p>
        <p style="font-family: futur;">Quick Response 24/7</p>
    </div>
    </div>

    <div class="money">
     <img src="../../assets/money-back.png" alt="" id="imgDet">
     <div class="infoContainer">
        <p class="infoDetails">Money Back Guarantee</p>
        <p style="font-family: futur;">Worry-free Shopping</p>
     </div>
    </div>

</div>

<div class="products">
    <app-product-dash></app-product-dash>
</div>