.custom-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index:1;
    position: absolute;
    width: 90vw;
  }
  
  .spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #8730f9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite; /* Spin animation */
    
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media (max-width:500px) {
  .custom-loader {
    width: 100vw;
  }
}