.slider-container {
    display: flex;
    width: 50%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 2px 0;
    font-family: futur;
    margin: 40px auto 0px;
    box-shadow: 1px -1px 9px -1px rgba(0,0,0,0.25);
    border-radius: 5px;
  }
  
  .slider {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: left;
  }

  .slider-container::-webkit-scrollbar{
    width: 0px;
  }
  
  .slider-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #535353;
    cursor: pointer;
    padding: 10px;
    min-width: 70px;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .slider-item i {
    font-size: 17px;
  }
  
  .slider-item span {
    font-size: 14px;
  }
  
  .slider-item:hover {
    color: #ff0066;
  }


  hr{
    color: #b7b7b7;
  }

.profileContainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

@font-face {
    font-family:gear;
    src: url(../../assets/font/Game\ Of\ Squids.ttf);
}

.imageBox{
    width: 300px;
    height: 300px;
    display: flex;justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,rgb(14, 66, 122),rgb(0, 82, 158));
    border-radius: 5px 0 0 30px; 
    box-shadow: -9px 8px 8px 1px rgba(106, 105, 105, 0.35);
}

#type{
    width:100%;
}

#proImg{
    width: 250px;
    height: 250px;
    border-radius:50%;
    display: block;
    border: 4px solid white;
}

.userInfo{
    width: 600px;
    height: 300px;
    box-shadow: 7px 12px 33px -9px rgba(48, 48, 48, 0.55);
    border-radius: 0 30px 5px 0;
    /* background: url(../../assets/bg.svg); */
    background-color: rgb(255, 255, 255);
    background-size: cover;
    position: relative;
}

#editIcon{
    position: absolute;
    top:15px;
    right: 20px;
    font-size: 20px;color: white;
    cursor: pointer;
    background-color: rgb(78, 78, 78);
    padding:7px;
    border-radius: 50%;
}

#logOutIcon{
    position: absolute;
    top:15px;
    left: 20px;
    font-size: 20px;color: white;
    cursor: pointer;
    background-color: rgb(78,78,78);
    padding:7px;
    border-radius: 50%;
}

/* .link li{
    background-color: rgb(255, 0, 76);
    padding: 2px 5px;
    border-radius: 10px;
}

.link li a{
    color: white;
    font-size: 13px;
}

.link li a:hover{
    color: yellow;
} */

h1{
    font-family: system-ui;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 20px;
    color: rgb(70, 70, 70);
}

.info{
    justify-content: center;
    display: flex;
    align-items: center;
}

.details1{
    width: 80%;
    font-size: 15px;font-weight: 500;
    margin-top: 20px;
    font-family: futur;
}

.emailInfo, .mobileNo, .gender{
    display: flex;
}

.icon{
    width: 50%;
    text-align: left;
}

ul, ol {
    padding-left: 0; /* Reset any left padding */
    margin-left: 0; /* Reset any left margin */
}

.link{
    list-style: none;
    display: flex;
    justify-content: center; /* Center items horizontally */
    margin-top: 15px;
    padding-right: 0rem;
    gap: 15px; /* Add space between items */
}

a{
    text-decoration: none;
    color: rgb(112, 5, 151);
    padding: 3px 4px;
}

a:hover{
    color: rgb(255, 0, 76);
}

#main{
    text-align: center;
    margin-top: 40px;
}

@media (max-width:947px) {
    .slider-container{
        width: 98%;
    }
    .profileContainer{
        flex-direction: column;
        margin-top: 1%;
    }

    .imageBox{
        width:600px;
        box-shadow: none;
        border-radius: 5px 5px 0 0; 
    }

    .userInfo{
        border-radius: 0 0 5px 5px;
    }
}

@media (max-width:620px) {

    .profileContainer{
        flex-direction: column;
        margin-top: 1%;
    }
    .imageBox{
        width:90%;
        box-shadow: none;
        border-radius: 5px 5px 0 0; 
    }

    .userInfo{
        width: 90%;
        border-radius: 0 0 5px 5px;
    }
    .details1{
        flex-direction: column;
        text-align: center;
        font-size: 15px;font-weight: 500;
        margin-top: 30px;
    }
}

@media (max-width:500px) {
    .profileContainer{
        flex-direction: column;
        margin-top: 10%;
    }

    #main{
        margin-top: 30px;
    }
}