<div class="mainCont">

    <div class="section1">
        <div class="banner">
            <p style="font-size: 30px; font-weight: bold;">Let's get in touch</p>
            <p>We're open to have any chat and suggestion.</p>
            <div class="address">
                <div class="circle">
                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                </div>
                <div class="data">
                    <p>Abc sdkjfnk sld fsj fskj fk sdj fks  skdj f alsj m</p>
                </div>
            </div>
            <div class="email">
                <i></i>
                <p>amanp.dec19 gmail.com</p>
            </div>
            <div class="contact">
                <i></i>
                <p>+91 8595176971</p>
            </div>
        </div>
        <div class="mainForm">
            <h3>Get in touch</h3>
        </div>
    </div>

    <div class="section2">
        <hr>
        <div class="socialHandles">
            <div class="social">
                <i class="fa-brands fa-facebook" style="color:rgb(0, 127, 205);"></i>
                <i class="fa-brands fa-instagram" style="color:rgb(242, 0, 141);"></i>
                <i class="fa-brands fa-whatsapp" style="color: rgb(2, 139, 0);"></i>
                <i class="fa-brands fa-x-twitter" style="color: black;"></i>
            </div>
        </div>
    </div>

</div>