.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f0f0f0;
}

.sendOtp{
    width: 98%;
    margin: 0px auto;
}

#sendEmail .main{
    font-size: 28px;
    padding-top: 20px;
    color: rgb(57, 57, 57);
}

#sendEmail p{
    color: rgb(57, 57, 57);
    font-weight: 600;
    font-family: futur;
    font-size: 16px;
}

#enterEmail{
    width: 50%;
}

.otpVerification{
    margin:0px auto;
    width: 98%;
}

#otpForm, #sendEmail{
    margin: auto;
    width: 90%;
    background-color: rgb(222, 226, 230);
    text-align: center;
    padding: 20px;
}

#otpForm .main{
    font-size: 30px;
    padding-top: 20px;
}

#otpForm p{
    color: rgb(57, 57, 57);
    font-weight: 600;
    font-family: futur;
    font-size: 16px;
}

.inputBox{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 40px;
}

input[type=text]{
    width: 50px;
    height: 50px;
    margin: 2%;
    border-radius: 4px;
    outline: none;
    border: 2px solid rgb(119, 25, 191);
    text-align: center;
}

.btn a{
    background-color: rgb(30, 89, 131);
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.btn a:hover{
    background-color: rgb(30, 79, 79);
}

@media (max-width:750px) {
    #enterEmail{
        width: 90%;
    }
}