<div class="container" *ngIf="otpSent">
    <div class="sendOtp">
        <div id="sendEmail">
            <p class="main">Enter your email</p>
            <p>OTP will be sent to this email</p>
            <div class="inputBox">
                <input type="text" placeholder="Enter your email" id="enterEmail" [(ngModel)]="email">
            </div>

            <div class="btn">
                <a (click)="sendOtpToEmailAfterVarification()">Send Otp</a>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="!otpSent"> 

    <div class="otpVerification">

        <form action="" id="otpForm">
            <p class="main">OTP Verification</p>
            <p>Enter the 4-digit code sent to your device / email</p>
            <div class="inputBox">
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
            </div>
        
            <div class="btn">
                <a href="">verify</a>
            </div>
        </form>
    
    </div>
</div>

